@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Space Mono", monospace;
}
body {
  padding: 20px;
}
:root {
  --background-dark: #141d2f;
  --background-litle: #e8e8e8;
  --corText-dark: #fff;
  --corTitle-litle: #1e2a47;
  --btn-hover: #294b9b;
  --search: #0b5bba;
}
body.dark {
  background-color: var(--background-dark);
  color: var(--corText-dark);
  transition: 0.5s;
}
body.litle {
  background-color: var(--background-litle);
  color: var(--corTitle-litle);
  transition: 0.5s;
}
